body {
	background: -webkit-linear-gradient(bottom, rgba(0,0,0,1) 0%, rgba(8,86,112,1) 100%);
}	
nav.navbar {
	background-color: #091E2E !important;
	height: 100px;
}
footer {
	margin-top: 3%;
	background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(8,86,112,1) 100%);;
}
.price {
	margin-left: 50%;
}
.pricesl {
	margin-left: 75%;
}
.price, .pricesl {
	font-weight: bolder;
	color: #99FACE;
}
.buyxwingimg {
	margin-top: -14%;
	margin-left: 0%;
	max-width: 50%;
	width: 600px;
	height: 300px;
	border-radius: 2%;
}
.buyxwingimgbuy {
	margin-top: -14%;
}
.buyxwingimgccl2 {
	margin-top: -3%;
	height: 350px;
}
.buyxwingimgfin {
	margin-top: -14%;
	margin-left: 0%;
	max-width: 50%;
	width: 600px;
	height: 350px;
	border-radius: 2%;	
}
.buyxwingimgfinalcl {
	margin-top: -8%;
	height: 350px;
}
.buytinyimg {
	max-width: 15%;
}
.buyaetinyimg {
	transition: all .2s ease-in-out;
	max-width: 10%;
	z-index: 10;
}
.buyaetinyimg:hover {
	transform: scale(5) translateX(35%) translateY(-40%);
}
.buyimg1, .buyimg2, .buyimg3, .aebuyimg1, .aebuyimg2, .aebuyimg3, .aebuyimg4 {
	margin-top: 40%;
}
.aebuyimg1buy, .aebuyimg2buy, .aebuyimg3buy, .aebuyimg4buy {
	margin-top: 30%;
}
.buyimg1 {
	margin-left: -50.5%;
}
.buyimg2 {
	margin-left: 1.7%;
}
.buyimg3 {
	margin-left: 1.8%;
}
.aebuyimg1 {
	margin-left: -50.5%;
}
.aebuyimg2 {
	margin-left: 2.5%;
}
.aebuyimg3 {
	margin-left: 3%;
}
.aebuyimg4 {
	margin-left: 2.5%;
}
.copyright{
	color : black;
	margin-top: -3%;
	margin-left: 45%;
}
.fa-copyright {
	color : black;
	margin-top: -1%;
	margin-left: -11%;
}
.gclogo, .gclogosl {
	max-width: 35%;
}
.fblogo {
	max-width: 8.5%;
	margin-top: -11%;
	margin-left: 40%;
}
.iglogo {
	max-width: 5%;
	margin-top: -7%;
	margin-left: 50%;
}
.twlogo {
	max-width: 5%;
	margin-top: 1.5%;
	margin-left: 58%;
}
.volver, .slvolver {
	width: 115px;
	margin-top: 2%;
	background-color: grey;
	margin-left: 62%;
}
.useravatar {
	max-width: 90%;
	margin-top: -45%;
	margin-left: 5%;
}
.shutdown {
	max-width: 25%;
}
.shutdown:hover {
	cursor: pointer;
}
.loginicon {
	max-width: 14%;
	margin-left: 74%;
}
.loginicon:hover {
	cursor: pointer;
}
.descimg {
	margin-top: -2%;
	margin-left: 0.4%;
	width: 400px; 
	height: 200px;
    border-radius: 2%;
}
.discnumber {
	width: 60px;
	height: 60px;
}
.recomm {
	margin-top: 4%;
	margin-left: 4%;
	background-color: #0B2235;
	border-color: black;
	border: solid 1px black;
	box-shadow: 3px 2px 3px #143B5C inset;
	width: 771px;
	height: 470px;
	opacity: 0.8;
	border-radius: 7px;
}
.recommbuy {
	width: auto;
}
.lastplayed {
	margin-left: -17%;
	margin-top: 8.3%;
	background-color: #0B2235;
	border-color: black;
	border: solid 1px black;
	box-shadow: 3px 2px 3px #143B5C inset;
	width: 463px;
	height: 470px;
	opacity: 0.8;
	border-radius: 7px;
}
.publi {
	height: 469px;
}
.publi1, .publi2 {
	margin-top: 13.5%;
	width: auto;
	height: 469px;
}
.badge {
	border: 2px solid black;
	background-color: #34C890;
	color: #174433;
	position: absolute;
	font-size: 130%;
	padding-top: 1.5%;
	margin-top: 1%;
	margin-left: 72%;
	width: 90px;
	height: 90px;
	z-index: 9;
	border-radius: 100%;
	font-weight: bolder;
	box-shadow: 1px 2px 1px 2px #131313;
}
.badgeprice {
	margin-left: -5%;
	margin-top: 33%;
}
.badgeverjuego {
	margin-top: -3%;
	margin-left: 68%;
}
.badgecompracl {
	margin-top: -2.5%;
	margin-left: 38%;
}
.badgecompracl2 {
	margin-top: -2.5%;
	margin-left: 38%;
}
.badgepricecompracl2 {
	margin-top: -6%;
	font-size: 80%;
	text-decoration: line-through;
}
.priceresult {
	margin-left: -5%;
	margin-top: -35%;
}
.desclist {
	margin-left: -17%;
	margin-top: 8.3%;
	background-color: #0B2235;
	border-color: black;
	border: solid 1px black;
	box-shadow: 3px 2px 3px #143B5C inset;
	width: 463px;
	height: 780px;
	opacity: 0.8;
	border-radius: 7px;
}
.nota {
	color: #99FACE;
	font-style: italic;
	font-size: bolder;
}
.backimg {
	max-width: 25%;
}
.btncontbuy, .slbtncontbuy {
	width: 115px;
	margin-top: -7.4%;
	margin-left: 77.5%;
}
.buyform {
	width: 300px;
}
.buyformshort {
	width: 145px;
}
.tjdecr {
	max-width: 65%;
	margin-top: -73%;
	margin-left: 42.3%;
}
.codseg {
	margin-left: -62%;
}
.confvolver, .slconfvolver {
	width: 115px;
	margin-top: 1%;
	margin-left: 32%;
	background-color: grey;
}
.confvolver {
	margin-top: -0.5%;
	margin-left: 61.5%;
}
.btnconfbuy, .slbtnconfbuy {
	width: 115px;
	margin-top: -0.5%;
	margin-left: 2.9%;	
}
.btncontbuy, .btnconfbuy, .slbtnconfbuy {
	background-color: #00a4d3;
}
.buytext, .buytextsl {
	text-align: justify;
}
.itembuyinfo {
	margin-top: -4%;
	margin-left: 3%;
	max-width: 100%;
	width: 685px;
	height: 360px;
	color: white;
}
.finalprice {
	color: #99FACE;
	font-weight: bolder;
}
.cbuyxwingimg {
	max-width: 45%;
	height: 350px;
}
.xwingimgfinc {
	margin-top: -10%;
}
.toprofile {
	margin-top: 36%;
	margin-left: -39.7%;
}
.toplay {
	margin-top: 36%;
	margin-left: 2%;
}
.todownload {
	margin-top: 1%;
	margin-left: 16.5%;
}
.downinfo {
	height: 350px;
	border: solid 2px #00a4d3;
	margin-top: -48%;
	margin-left: 55%;
	padding: 1%;
	color: white;
	border-radius: 2%;
}
.slimgdwn {
	margin-top: -4%;
}
li {
	padding: 4%;
}
.listitembuyinfo, tr {
	margin-left: 20%;
	border: lightblue 2px solid;
	border-collapse: collapse;
	width: 400px;
}
tr, td {
	padding: 3%;
}
td {
	width: 2200px;
	height: 90px;
	margin-right: 5%;
	margin-left: 5%;
}
.buyinfo {
	padding: 2%;
	margin-top: -43.5%;
	margin-left: 58%;
	background-color: #113F62;
	color: white;
	border-radius: 3%;
	width: 328px;
	height: 330px;
}
.buyinfosl {
	margin-top: -51.7%;
}
.desc {
	background-color: #0B2235;
	border-color: black;
	border: solid 1px black;
	box-shadow: 3px 2px 3px #143B5C inset;
	margin-top: 2.5%;
	margin-left: 2.7%;
	margin-right: 2.9%;
	margin-bottom: 2.5%;
	width: auto;
	height: auto;
	opacity: 0.8;
	border-radius: 7px;
}
.masdesc {
	background-color: #0B2235;
	border-color: black;
	border: solid 1px black;
	box-shadow: 3px 2px 3px #143B5C inset;
	margin-top: -31.9%;
	margin-left: 4%;
	margin-right: 9.2%;
	margin-bottom: 2.5%;
	width: auto;
	height: 284px;
	opacity: 0.8;
	border-radius: 7px;
}
.recommimg {
	margin-left: 15%;
	max-width: 70%;
	height: 350px;
	border-radius: 2%;
}
.juegomasdesc {
	max-width: 50%;
	width: 230px;
	height: 150px;
	margin: 0.5%;
	border-radius: 2%;
}
.juegosmasdesc {
	margin-top: -1%;
	margin-left: 0.5%;
}
.xwingimg {
	margin-top: -4%;
	margin-left: 15%;
	max-width: 70%;
	width: 600px;
	height: 350px;
	border-radius: 2%;
}
.recommtitle, .lastplayedtitle, .desctitle {
	font-family: alegreya;
	margin: 1%;
	color: #00a4d3;
}
.line {
	margin-top: -7%;
	color: #00a4d3;
}
.buyline {
	margin-top: -6%;
}
.recommtitle, .line, .lastplayedtitle, .desctitle {
	font-size: 220%;
}
.lastplayedline {
	margin-top: -10.5%;
	color: #00a4d3;
	font-size: 220%;
}
.lastplayedlist {
	border-color: #303030;
}
.semidark {
	background-color: #0E4A77;
	color: white;
}
.dark {
	background-color: #082E4B;
	color: white;
}
.tinyimg {
	width: 35px; 
	height: 35px;
	border-radius: 2%;
}
.desclistimg {
	width: 370px;
	height: 150px;
	margin: 0.5%;
	margin-left: 5.8%;
	border-radius: 2%;
}
.desclistimgs {
	margin-top: -5%;
}
.atinyimg {
	width: 45px; 
	height: 45px;
	text-align: center;
}
.bottomcontainer {
	color: white;
}
.search {
	background-color: #091E2E;
	border-color: #00a4d3;
}
.xwing {
	margin-top: -4%;
	margin-left: 15%;
	max-width: 70%;
	height: 350px;
}
.buttons {
	margin-left: 15%;
}
.carrou {
	margin-top: -4%;
}
.optbutton {
	border-radius: 0%;
}
.button {
	padding-right: 8.7%;
	padding-left: 8.7%;
}
.filters {
	padding-right: 3%;
	padding-left: 3%;
	margin-top: -7.5%;
	margin-left: 45%;
	background-color: #303030;
	border-color: #303030;	
}
.filterssl {
	background-color: #303030;
	border-color: #303030;
	padding-right: 4.5%;
	padding-left: 4.5%;
	margin-top: -12%;
	margin-left: 71%;
}
.descline {
	margin-top: -4.5%;
	color: #00a4d3;
	font-size: 220%;
}
.masdescline {
	margin-top: -7%;
	color: #00a4d3;
	font-size: 220%;
}
.loading {
	 width: 100px;
	 height: 100px;
	 margin-top: -10%;
	 z-index: 20;
}
.top5li {
	animation-duration: 1.5s;
  	animation-name: slidein;
}
.buttonsgroup {
	margin-bottom: 0.5%;
}
.comentariosimple{
	border: solid 2px black;
	background: -webkit-linear-gradient(top, rgba(42,107,150,1) 0%, rgba(7,29,46,1) 100%);
	padding: 1%;
}
.discpulse {
	max-width: 7%;
	animation-name: pulse_animation;
    animation-duration: 1500ms;
    transform-origin:50% 50%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.discpulse1, .discpulse2, .discpulse3 {
	margin-left: -7.5%;
	margin-top: -11%;
}
.discpulse, .discpulsesl {
	animation-name: pulse_animation;
    animation-duration: 1500ms;
    transform-origin:50% 50%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.discpulse {
	max-width: 7%;
}
.discpulsesl {
	max-width: 20%;
}
.discpulsesl1, .discpulsesl2, .discpulsesl3, .discpulsesl4 {
	margin-top: -62%;
	margin-left: 5%;
}
.accupdate {
	height: 350px;
	border: solid 2px #00a4d3;
	margin-top: -43%;
	margin-left: 55%;
	padding: 1%;
	color: white;
	border-radius: 2%;
}
.infotitle {
	color: #AEEFF7;
	font-style: italic;
}
.profline {
	margin-top: -6%;
}
.myproftitle {
	margin-top: 0.5%;
}
.proftitle {
	margin-top: -3%;
	margin-bottom: -1%;
}
.tjcrinfo {
	width: 374px;
	border: solid 2px #00a4d3;
	margin-top: -25%;
	margin-left: 47.5%;
	padding: 1%;
	color: white;
	border-radius: 2%;
}
.profinfo {
	margin-top: -1%;
	width: 220px;
	height: 340px;
	border: solid 2px #00a4d3;
	padding: 1%;
	color: white;
	border-radius: 2%;	
}
.profcontainer {
	margin-top: -36.8%;
	margin-left: 27%;
	width: 650px;
	height: 340px;
	border: solid 2px #00a4d3;
	padding: 1%;
	color: white;
	border-radius: 2%;
}
.toprofileav:hover {
	cursor: pointer;
}
.profimg {
	max-width: 80%;
	margin-top: -4%;
	margin-left: 9%;
}
.btnprofplay {
	float: right;
}
.lidark {
	background-color: #0E314C;
	border: solid 1px #00a4d3;
}
.accompra {
	margin-top: -51%;
	margin-left: 73%;
	width: 340px;
	height: 97%;
}
.prfinal {
	margin-top: 40%;
	font-size: 110%;
	font-weight: bolder;
	color: #99FACE;;
}
.changeav {
	margin-top: -32%;
	margin-left: 70%;
	max-width: 13%;
}
.todescrip, .tohelp, .tocomment {
	background-color: #0B2235;
}
@keyframes slidein {
  from {
    margin-left: 30%;
    width: 100%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
@keyframes pulse_animation {
    0% { transform: scale(1); }
    30% { transform: scale(1); }
    40% { transform: scale(1.21); }
    50% { transform: scale(1); }
    60% { transform: scale(1); }
    70% { transform: scale(1.13); }
    80% { transform: scale(1); }
    100% { transform: scale(1); }
}
@font-face {
    font-family: alegreya;
    src: url('../fonts/alegreyal.otf');
}
.loading {
	max-width: 50%;
	margin-left: 43%;
	margin-top: 2%;
}
.retweet {
	margin-top: -4%;
}
.fa-retweet {
	margin-top: 2.35%;
	margin-left: 4%;
}
.rts {
	margin-top: -2%;
	margin-left: 6%;
}
.likes {
	color: white;
	margin-top: -2%;
	margin-left: 2%;
}
.bottomcontainer{
	position : relative;
}
.publi {
	margin-left: 7%;
	position: relative;
}
.publi img {
	position: absolute;
}
.top {
	animation-name: fade;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-duration: 9s;
	animation-direction: alternate;
}

@keyframes fade {
	0% {
		opacity: 1;
	}
	25% {
		opacity: 1;
	}
	45% {
		opacity: 1;
	}
	75% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
.fab {
	color: #C0CFD6;
}
.social {
	margin-top: 0%;
	margin-left: 60%;
}
.gclogofooter {
	max-width: 5%;
	margin-top: -2%;
	margin-left: -7%;
}
.fab:hover {
  	cursor: pointer;
    color: black;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}
.fab {
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
   	transition:.5s;
}
.footertext {
	color: white;
	margin-top: -4%;
	margin-left: 2%;
	font-size: 80%;
}
div.dropdown {
	color: #555;
	margin: 3px -22px 0 0;
	width: 143px;
	position: relative;
	height: 17px;
	text-align:left;
}
div.submenu
{
	position: absolute;
	z-index: 100;
	width: 135px;
	display: none;
	margin-left: 10px;
	padding: 40px 0 5px;
	border-radius: 6px;
}
.submenu {
	display: none;
}
.dropdown  li a {
	color: #555555;
	display: block;
	font-family: arial;
	font-weight: bold;
	padding: 6px 15px;
	cursor: pointer;
	text-decoration:none;
}
.dropdown li a:hover{
background: #00a4d3;
color: #FFFFFF;
text-decoration: none;
}
a.account {
	font-size: 11px;
	line-height: 16px;
	color: #555;
	position: absolute;
	z-index: 110;
	display: block;
	padding: 11px 0 0 20px;
	height: 28px;
	width: 121px;
	margin: -11px 0 0 -10px;
	text-decoration: none;
	background: url(images/arrow.png) 80px 32px no-repeat;
	cursor:pointer;
}
.root
{
list-style: none;
font-size: 11px;
box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
background: #fff;
padding: 10px 0 10px 0;
border-radius: 5px 5px 5px 5px;
margin: 21px 0 0 0;
width: 120px;
}
.root:before {
content: '';
display: inline-block;
border-left: 7px solid transparent;
border-right: 7px solid transparent;
border-bottom: 7px solid #ccc;
border-bottom-color: #ffffff;
position: absolute;
color: #ffffff;
top: 54px;
left: 17px;
}
.profile-circle {
width: 45px;
height: 44px;
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
-webkit-border-radius: 99em;
-moz-border-radius: 99em;
border-radius: 99em;
border: 2px solid #eee;
box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
vertical-align: middle;
}
.breadcrumb1 {
	margin-top: 1.5%;
	margin-bottom: -4.5%;
	margin-left: 90%;
	color: white;
}
.fas {
	padding-right: 5%;
	padding-left: 5%;
}
.actualstep {
	color: #00a4d3;
}